set keyseq-timeout 50
set bell-style none
# there are various things you can do to adjust the
#+shape and blink-rate of the cursor, you can even
#+make it different for insert and command mode!
#set show-mode-in-prompt on
#set vi-cmd-mode-string "\e[?17;14;224c"
#set vi-ins-mode-string ""
